
.btn{
  margin-right: 20px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;


  .modOver{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer; 
  
}

.modWind{
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: #5c5c5c, $alpha: 1.0);
    border-radius: 10px;
    background-color: #9f9f9f;
    z-index: 10;

    .modHeader{
      display: flex;
      margin-bottom: 40px;

      .headerTitle{
        text-transform: uppercase;  
      }

        .headerClose{
        margin-left: 120px;
        cursor: pointer;
      }
    }

    .modText{
      margin-bottom: 30px;
    }

    .modFooter{
      margin-bottom: 10px;

      .btnMod{
        border: 1px solid #5c5c5c;
        border-radius: 5px;
        
        &:first-child{
          margin-right: 10px;
        }
      }
    }
  }
}